body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    background-color: rgb(108, 82, 163);
}
p {
    line-height: 1.6;
    color: rgb(214, 135, 159);
    font-size: 18px;

}
   
/* Naviagtion Section */
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgb(108, 82, 163);
    box-shadow: 0 2px 5px;
}
nav h1 {
    color: rgb(214, 135, 159);
    text-align: left;
    display: left;
    padding: 0 0 0 2.5%;
    margin: 0;
    position: fixed;
}
#nav-title:hover {
    color: rgb(214, 135, 159);
    border-bottom: none;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: right;
    justify-content: right;
    text-align: right;
}
nav li {
    display: inline;
    padding: 0 45px;
}
nav a {
    font-size: 22px;
    color: rgb(214, 135, 159);
    text-decoration: none;
    transition: color 0.3s, padding 0.3s; 
}
nav a:hover {
    color: black;
    border-bottom: 2px solid rgb(214, 135, 159);
}


/* Header Section */        
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("cave2.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}
header::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}
.header-title, .header-button {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    padding: 0;
    margin: 0;
}
.header-title h1 {
    color: rgb(214, 135, 159);
    font-size: 50px;
    text-align: center;
}
.header-button button {
    background-color: rgb(214, 135, 159);
}


/* Page Description Section */
#description-section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1%;
    width: 96vw;
    border-radius: 8px;
    margin: 1%;
}
h2{
    font-size: 30px;
    color: rgb(214, 135, 159);
    text-align: center;
    padding: 0;
    margin: 0;
}


/* Paragraph on Home Page */
.homepage-paragraph {
    display: inline-flex;
    width: 49%;
}
.homepage-paragraph p {
    position: relative;
    text-align: center;
}

/* Projexct link section in Portfolio Page */
#project-links-header p {
    position: relative;
    text-align: center;
    border: 2px solid rgba(128, 255, 212, 0.5)
}
#project-links li {
    display: inline;
    list-style: none;
    font-size: 50px;
    padding: 0 9%;
    border: 2px solid rgba(128, 255, 212, 0.5)
}
#project-links a {
    color: rgb(214, 135, 159);
    text-decoration: none;
    transition: color 0.3s, padding 0.3s; 
}
#project-links a:hover {
    color: black;
    border-bottom: 2px solid rgb(214, 135, 159);
}

/* Paragraphs on Servcies page */
.service-page-titles p{
    text-align: center;
}
.service-page-languages p {
    border: 2px solid rgb(214, 135, 159);
    display: inline-block; 
    padding: 0.5%;
    width: 31.66%;
    margin: 0;
    box-shadow: 0px 4px 15px rgb(108, 82, 163);
}




 